#hello {
	color: red;
}

h4{
	padding-top: 30px;
	align-items: center;
	text-align: center;
}

.selectionwraper{
	margin-top: 10px;
	width: 100%;
	align-items: center;
}

.selection{
	width: 450px;
	margin: auto;
}

.input-group{
	align-items: center;
}

#name{
	width: 450px;
	margin: auto;
}